* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 80vw;
  margin: auto;
  min-height: 100vh;
  font-family: "Bebas Neue", cursive;
  scroll-snap-align: center;
  min-height: 100vh;
}

section .about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .about-card .left {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .about-card .left h1 {
  font-size: 3.7rem;
  padding-left: 70px;
}

section .about-card .right {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .about-card .right img {
  width: 100%;
}

section .about-card .right .about-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 500px;
  height: 500px;
  -webkit-animation: anabout 3s infinite linear;
          animation: anabout 3s infinite linear;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

@-webkit-keyframes anabout {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes anabout {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

section.about-us {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.about-us h1 {
  color: black;
}

section.about-us .main-about {
  margin-top: 40px;
}

section.about-us .about-us-card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.about-us .about-us-card .about-us-card-right {
  width: 100%;
  height: 40vh;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

section.about-us .about-us-card .about-us-card-right p {
  font-family: Arial, Helvetica, sans-serif;
}

section.about-us .about-us-card .about-us-card-left {
  width: 100%;
  height: 40vh;
}

section.about-us .about-us-card .about-us-card-left img {
  width: 100%;
}

section.about-us .about-us-card .about-us-card-left .about-us-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
/*# sourceMappingURL=About.css.map */