* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// @media (max-width: 800px) {
//   section {
//     width: 100% !important;
//     margin: auto !important;
//     padding: 10px !important;
//     .illus1 {
//       width: 400px !important;
//       height: 400px !important;
//     }
//     .triangle-img-1 {
//       right: 5% !important;
//     }
//     .triangle-img-2 {
//       left: 5% !important;
//     }
//   }
// }
// @media (max-width: 667px) {
//   section {
//     width: 100%;
//     margin: auto;
//     padding: 10px;
//     .illus1 {
//       width: 300px !important;
//       height: 300px !important;
//     }
//     .triangle-img-1 {
//       right: 5% !important;
//     }
//     .triangle-img-2 {
//       left: 5% !important;
//     }
//   }
// }

// @media (max-width: 590px) {
//   section {
//     width: 70%;
//     margin: auto;
//     padding: 10px;
//     .illus1 {
//       width: 300px !important;
//       height: 300px !important;
//     }
//     .triangle-img-1 {
//       right: 5% !important;
//     }
//     .triangle-img-2 {
//       left: 5% !important;
//     }
//   }
// }

@media (max-width: 768px) {
  html {
    scroll-snap-type: none !important;
  }
  .logo {
    padding: 0px !important;
  }
  ul.nav-links {
    padding: 0px !important;
  }
  header {
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white !important;

    .hamburger {
      position: absolute;
      right: 20px;
      cursor: pointer;

      top: 16px;

      // border: 1px solid black;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      // align-items: center;

      div {
        content: "";
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
      }
    }
    .logo {
      width: 100% !important;
      margin: auto;
      background-color: white;
      text-align: center;
      flex-basis: 0;
      h1 {
        text-align: left;
        // padding-left: 20px;
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }
  }

  #nav-links {
    width: 100%;

    display: none;
    margin-top: 10vh;
  }
  .open {
    display: block !important;
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: white;
    flex-direction: column;
    display: block !important;
    ul li a {
      width: 100%;
    }
  }
  section.section-1 {
    flex-direction: column !important;
    .left {
      h1 {
        font-size: 3.7rem;
        padding-left: 35px;
      }
    }
  }

  section.section-2 {
    flex-direction: column !important;
  }
  section.section-3 .first {
    margin-bottom: 50px;
  }
  section.section-5 .footers {
    flex-direction: column !important;
  }
  section.section-5 .rock {
    display: none !important;
  }
  section.section-1 .right {
    display: none;
  }

  section {
    width: 100% !important;
    margin: auto;
    padding: 10px;

    .illus1 {
      width: 200px !important;
      height: 200px !important;
    }
    .triangle-img-1 {
      right: 5% !important;
    }
    .triangle-img-2 {
      left: 5% !important;
    }
  }
}
@media (max-width: 480px) {
  html {
    scroll-snap-type: none !important;
  }
  header {
    .logo {
      padding: 0px !important;
    }
    ul.nav-links {
      padding: 0px !important;
    }
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white !important;

    .hamburger {
      position: absolute;
      right: 20px;
      top: 16px;
      cursor: pointer;

      // border: 1px solid black;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      // align-items: center;

      div {
        content: "";
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
      }
    }
    .logo {
      width: 100% !important;
      margin: auto;
      background-color: white;
      text-align: center;
      flex-basis: 0;
      h1 {
        text-align: left;
        // padding-left: 20px;
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }
  }

  #nav-links {
    width: 100%;
    display: none;
    margin-top: 10vh;
  }
  .open {
    display: block !important;
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: white;
    flex-direction: column;
    display: block !important;
    ul li a {
      width: 100%;
    }
  }
  section.section-1 {
    flex-direction: column !important;
    .left {
      h1 {
        font-size: 3.7rem;
        padding-left: 35px;
      }
    }
  }

  section.section-2 {
    flex-direction: column !important;
  }
  section.section-3 .first {
    margin-bottom: 50px;
  }
  section.section-5 .footers {
    flex-direction: column !important;
  }
  section.section-5 .rock {
    display: none !important;
  }
  section.section-1 .right {
    display: none;
  }

  section {
    width: 100% !important;
    margin: auto;
    padding: 10px;

    .illus1 {
      width: 200px !important;
      height: 200px !important;
    }
    .triangle-img-1 {
      right: 5% !important;
    }
    .triangle-img-2 {
      left: 5% !important;
    }
  }
}
