* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  section {
    width: 100% !important;
    margin: auto !important;
    padding: 10px !important;
    .illus1 {
      width: 400px !important;
      height: 400px !important;
    }
    .triangle-img-1 {
      right: 5% !important;
    }
    .triangle-img-2 {
      left: 5% !important;
    }
  }
}
@media (max-width: 667px) {
  section {
    width: 100%;
    margin: auto;
    padding: 10px;
    .illus1 {
      width: 300px !important;
      height: 300px !important;
    }
    .triangle-img-1 {
      right: 5% !important;
    }
    .triangle-img-2 {
      left: 5% !important;
    }
  }
}

@media (max-width: 590px) {
  section {
    width: 70%;
    margin: auto;
    padding: 10px;
    .illus1 {
      width: 300px !important;
      height: 300px !important;
    }
    .triangle-img-1 {
      right: 5% !important;
    }
    .triangle-img-2 {
      left: 5% !important;
    }
  }
}

@media (max-width: 480px) {
  html {
    scroll-snap-type: none !important;
  }
  header {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    // .hamburger {
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   width: 30px;
    //   height: 30px;
    //   border: 1px solid black;

    // .ham-lines {
    //   width: 35px;
    //   height: 5px;
    //   background-color: black;
    //   margin: 6px 0;
    // }
    // .ham-lines::after {
    //   content: "";
    //   width: 35px;
    //   height: 5px;
    //   background-color: black;
    //   margin: 6px 0;
    // }
    // .ham-lines::before {
    //   content: "";
    //   width: 35px;
    //   height: 5px;
    //   background-color: black;
    //   margin: 6px 0;
    // }
    // }
    .logo {
      width: 100% !important;
      margin: auto;
      text-align: center;
      flex-basis: 0;
      h1 {
        text-align: center;
      }
    }
    .nav-links {
      width: 100%;
      text-align: center;
      margin: auto;
      flex-direction: column;
      ul li a {
        width: 100%;
      }
    }
  }

  section.section-1 {
    flex-direction: column !important;
  }
  section.section-2 {
    flex-direction: column !important;
  }
  section.section-3 .first {
    margin-bottom: 50px;
  }
  section.section-5 .footers {
    flex-direction: column !important;
  }
  section.section-5 .rock {
    display: none !important;
  }
  section.section-1 .right {
    display: none;
  }

  section {
    width: 60%;
    margin: auto;
    padding: 10px;

    .illus1 {
      width: 200px !important;
      height: 200px !important;
    }
    .triangle-img-1 {
      right: 5% !important;
    }
    .triangle-img-2 {
      left: 5% !important;
    }
  }
}
