@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li,
a {
  text-decoration: none !important;
  list-style: none !important;
}

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body {
  background: #e0eafc;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#cfdef3), to(#e0eafc));
  background: linear-gradient(to left, #cfdef3, #e0eafc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  width: 80vw;
  min-height: 10vh;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header .logo h1 {
  font-weight: 700;
  font-family: "Bebas Neue", cursive;
}

header ul.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul.nav-links li {
  margin: 10px;
  position: relative;
  font-family: "Bebas Neue", cursive;
}

header ul.nav-links a {
  display: block;
  font-weight: 500;
  padding: 10px 10px;
  color: black;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

header ul.nav-links li:hover a {
  color: white;
  background-color: black;
}

header ul.nav-links ul.sub-menu {
  position: absolute;
  top: 100%;
  left: -25%;
  display: none;
}

header ul.nav-links li:hover .sub-menu {
  display: block;
}

section {
  width: 80vw;
  margin: auto;
  min-height: 100vh;
  font-family: "Bebas Neue", cursive;
  scroll-snap-align: center;
}

section.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section.section-1 .left {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section-1 .left h1 {
  font-size: 3.7rem;
  padding-left: 70px;
}

section.section-1 .right {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.section-1 .right img {
  width: 100%;
}

section.section-1 .right .illus1 {
  -o-object-fit: contain;
     object-fit: contain;
  width: 500px;
  height: 500px;
  -webkit-animation: an 2s infinite linear;
          animation: an 2s infinite linear;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

@-webkit-keyframes an {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes an {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

section.section-1 .triangle-img-1 {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 25%;
  right: -5%;
  -webkit-animation: tri1 4s infinite linear;
          animation: tri1 4s infinite linear;
  -webkit-transition: 0.4s ease-in-out cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.4s ease-in-out cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-origin: center;
          transform-origin: center;
}

section.section-1 .triangle-img-2 {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 40%;
  left: -5%;
  -webkit-animation: tri1 6s infinite linear;
          animation: tri1 6s infinite linear;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.section-1 .triangle-img-3 {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 20%;
  right: 5%;
  -webkit-animation: tri1 2s infinite linear;
          animation: tri1 2s infinite linear;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@-webkit-keyframes tri1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes tri1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

section.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section.section-2 .card-body {
  width: 250px;
  background-color: white;
  padding: 25px;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-top: 5px solid white;
  margin: 30px;
  height: 350px;
}

section.section-2 .card .img-div {
  height: 200px;
}

section.section-2 .card .img-div .img-div img {
  margin: 30px 0;
}

section.section-2 .card h1 {
  margin: 10px 0;
}

section.section-2 .card p {
  color: #999999;
  margin: 10px 0;
}

section.section-2 .card-body:hover {
  -webkit-box-shadow: -10px 10px 15px 0 rgba(196, 196, 196, 0.3);
          box-shadow: -10px 10px 15px 0 rgba(196, 196, 196, 0.3);
  border-top: 5px solid blue;
}

section.section-2 .triangle-loading-1 {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation: tri1 5s infinite linear;
          animation: tri1 5s infinite linear;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section.section-2 .sqre {
  position: absolute;
  top: 25%;
  left: 7%;
}

section.section-2 .loader {
  position: absolute;
  bottom: 20%;
  right: 10%;
}

@keyframes tri1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

section.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Montserrat, sans-serif;
}

section.section-3 .man {
  width: 100%;
  height: 50vh;
  -o-object-fit: contain;
     object-fit: contain;
}

section.section-3 .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}

section.section-3 .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
/*# sourceMappingURL=style.css.map */